

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.Home {
  text-align: center;
}

.Home a {
  margin: 5px;
}

.Login, .Register {
  padding: 50px;
  width: 40vw;
}

.Login .title , .Register .title {
  text-align: center;
}

#switchToLogin, #switchToRegister {
  font-size: 11px;
  margin-top: 10px;
  text-decoration: underline;
}

#switchToLogin:hover, #switchToRegister:hover {
  cursor: pointer;
}

#registerButton, #loginButton {
  background-color: rgba(147, 250, 165);
  border-radius: 30px;
  border: none;
  padding: 10px;
}

#registerButton:hover, #loginButton:hover {
  background-color: rgba(46, 204, 113);
  transition-duration: 0.5s;
}

#registerButtonText, #loginButtonText {
  color: black;
  font-weight: 500;
}

#registerButtonText:hover, #loginButtonText:hover {
  cursor: pointer;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contest_info {
  margin-right: 10px !important;
  font-size: 12px;
}

.contest-name {
  margin-top: 5px !important;
  font-weight: bold;
}

#seats_left {
  margin-right: 5px;
  font-weight: 600;
  font-size: 13px;
}

#createContest {
  margin: auto;
}

#datePicker {
  width: 400px;
}

#inline {
  display: inline;
}

.createContestContainer { 
  margin: auto !important;
  width: 600px !important;
}